<h1>Players</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th></th>
    <th align="left">Country</th>
    <th></th>
    <th align="left">Current Team</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td align="left"><a href="/players/<%= player.id %>"><%= player.name %></a></td>
    <td>|</td>
    <td align="left"><%= player.country %></td>
    <td>|</td>
    <td align="left"><a href="/teams/<%=player.current_team.id%>""><%= player.current_team.name %></a></td>
  </tr>
  <% end %>
</table>
<br>
<h4><a href="/newplayer">Add New Player</a></h4>
