<body style="background-image: url('/images/bg<%= @player.current_team.name%>.jpg');">

  <h1><%= @player.name %></h1>
<br>
  <img src="/images/image<%= @player.name %>.gif" class="widthSet" alt="<%= @player.name %>">
<p><a href="/players/edit/<%=@player.id%>">edit player</a></p>
</body>
