<h1><%= @team.name %> </h1>
<p><i>"<%= @team.slogan %>"</i></p>
<BR>
<h4><a href="/fixtures/<%= @team.id %>">See all <%= @team.name%> matches</a></h4>
<BR>

<!-- prints the names of all players in team -->

<h4>Players</h4>
<BR>
<% for player in @players %>
<a href="/players/<%= player.id%>"><%= player.name %></a><br>
<% end %>
