<h1>Games</h1>

<table>
  <tr>
    <th align="left">Date</th>
    <th></th>
    <th align="left">Home Team</th>


    <th align="center"></th>

    <th>Score</th>
        <th align="center"></th>

    <th align="right">Away Team</th>
  </tr>
  <% for game in @games %>
  <tr>
    <td align="left"><a href="/games/<%= game.id %>"><%= game.date %></a></td>
    <td>|</td>
    <td align="left"><a href="/teams/<%= game.get_home_team.id%>"><%= game.get_home_team.name %></a></td>

<% if game.result == "TBC" %>
  <td align="center">TBC</td>
  <% else %>
    <td align="center"><%= game.home_result %></td>
<% end %>

    <td align="center"> vs </td>


    <% if game.result == "TBC" %>
      <td align="center">TBC</td>
      <% else %>
        <td align="center"><%= game.away_result %></td>
    <% end %>

    <td align="right"><a href="/teams/<%= game.get_away_team.id%>"><%= game.get_away_team.name %></a></td>
  </tr>
  <% end %>
</table>
<br>
<h4><a href="/newfixture">Add new fixture</a></h4>
