<h1><%= @game.get_home_team.name  %> versus <%= @game.get_away_team.name  %> </h1>

<% if @game.result != "TBC" %>
<br><h3>Match summary</h3>
<br>

<p>The winner of this match is <b><%=@game.result %></b>!
  <br><br>
  The final score was:<br>
  <%= @game.get_home_team.name %> <%= @game.home_result %> - <%= @game.away_result %> <%= @game.get_away_team.name %>
  </p>
  <% else %>
  <p>This match is yet to be played</p>
  <% end %>
<br>
<table>
  <tr>
    <th align="left">Date</th>
    <th> </th>
    <th align="left">Home Team</th>
    <th align="center"> </th>
    <th align="right">Away Team</th>
    <th align="center"> </th>
    <th align="right">Winner</th>
  </tr>
  <tr>
    <td align="left"><%= @game.date %></td>
    <td>|</td>
    <td align="left"><%= @game.get_home_team.name %></td>
    <td align="center">vs</td>
    <td align="right"> <%= @game.get_away_team.name %></td>
    <td>|</td>
    <td align="right"><%= @game.result %></td>



  </tr>
</table>
<BR>

<form action="/games/result/<%=@game.id %>" method="post">
  <input type="<%=@button%>" name="result" value="Get Result" />
</form>
