<h1><%= @game.date %> </h1>

<table>
  <tr>
    <th align="left">Date</th>
    <th> </th>
    <th align="left">Home Team</th>
    <th align="center"> </th>
    <th align="right">Away Team</th>
    <th align="center"> </th>
    <th align="right">Result</th>
  </tr>
  <tr>
    <td align="left"><%= @game.date %></td>
    <td>|</td>
    <td align="left"><%= @game.get_home_team.name %></td>
    <td align="center">vs</td>
    <td align="right"> <%= @game.get_away_team.name %></td>
    <td>|</td>
    <td align="right"><%= @game.result %></td>
  </tr>
</table>
